name: Docker Image CI   
 
on:
  push:
    branches: ['master']
  pull_request:
    branches: ['master']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the code
      - name: Checkout Code
        uses: actions/checkout@v2

      # Step 2: Set up Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'

      # Step 3: Install Dependencies
      - name: Install Dependencies
        run: npm install

      # Step 4: Install Supertest and Types
      - name: Install Supertest and Types
        run: |
          npm install supertest --save-dev
          npm install @types/supertest --save-dev

      # Step 5: Compile the TypeScript code
      - name: Build Project
        run: npm run build

      # Step 6: Run Unit Tests
      - name: Run Tests
        run: npm test

      # Step 7: Upload the built files as artifacts (optional)
      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: build-artifacts
          path: dist/  # Assuming your build outputs to a 'dist' folder

  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build the Docker image
        run: docker build . --file Dockerfile --tag ${{ secrets.DOCKER_USERNAME }}/express-typescript-docker

      - name: Docker Push
        run: docker push ${{ secrets.DOCKER_USERNAME }}/express-typescript-docker
